<ion-view  class="dash-view">

<ion-content class="has-header" ng-controller="dashboardController">
	
	
	   <label class="title-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  Dashboard</label>
</br></br>
</br></br></br>		
<div class="inputbox2">
    <div class="list card">

      <div class="item item-divider">Recommended</div>
      <div class="item item-body">
        
         
		
		 
		 
		</br></br></br>	</br>	</br>	
      </div>
    </div>
</div>



     <button nav-clear class="button button-large button-outline button-positive" ui-sref="home.appointments">
              Create Appointment
            </button>
			

	<ion-tabs class="tabs-icon-only tabs-top top-277">
	
	
	 <ion-tab title="" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="home.dashboard">
                 <ion-nav-view name="dashboard"></ion-nav-view>

        </ion-tab>

   <ion-tab title="" icon-off="ion-android-chat" icon-on="ion-android-chat" ui-sref="home.chats">
                 <ion-nav-view name="chats"></ion-nav-view>

        </ion-tab>


      <ion-tab title="" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/home/settings">
        <ion-nav-view name="settings"></ion-nav-view>
      </ion-tab>

</ion-tabs>

  </ion-content>
	
</ion-view>