<ion-view class="splash-view" hide-back-button="true">

        <ion-content class="splash">
		
          <div class="list text-center padding">
            <img class="title-image" src="img/title.png" height="100px" weight="100px"></br>
			<label class="title-label">&nbsp; skySkraper</label>
          </div>
         </br></br></br></br>
		 
		 <div class="splashbuttons">
		<button class="button button-large button-outline button-positive" ui-sref="login">Login</button></br>
		 <button class="button button-large button-outline button-balanced" ui-sref="register">Register</button>
		 
		 </div>
        </ion-content>
		 
</ion-view>
