<ion-view view-title="CreateProfile" hide-back-button="false">
 
  
  <ion-content>
  
		<div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
        <input name="txtusername" type="email" ng-model="user.username" placeholder="username"
        ng-minlength="1"
        ng-maxlength="30"
        required>
      </label>
     
        <label class="item item-input item-floating-label" >
        <span class="input-label">Full Name</span>
        <input name="txtname" type="email" ng-model="user.name" placeholder="full name"
        ng-minlength="1"
        ng-maxlength="25"
        required>
      </label>
	  
	  
	  
             
              <ion-item class="item-input">
                <label class="item-input">
                  <span class="input-label">Birthday</span>
                  <input type="date" ng-model="user.birthday">
                    </label>
                  </ion-item>
          
     
    </div>
    <div class="padding-top">
      <input type="submit" value="Create Profile" ui-sref="home.dashboard" class="button button-block button-positive"/>
    </div>
 
      </div>
    </form>
      </div>
    </div>
  </ion-content>
</ion-view>
