 <ion-view name="video" class="video-view" title="Video">
         <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
        <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true"  ng-controller="videoController">
				 
				  <div class="list">
	  <div class="item item-divider">
		  <i class="ion-videocamera"></i>
		 Video Clips
	  </div>
	  </br></br>&nbsp;&nbsp;&nbsp;
		<img ng-src="{{urlForClipThumb(clip)}}" ng-click="showClip(clip)" style="height: 250px; width: 150px;" />
  </div>
  
  
  	  <div class="button-bar">
		  <button class="button button-positive" ng-click="captureVideo()">
			  Capture a video
		  </button>
	  </div>

 
  </ion-content>
 

				 
				 <div style="">
	<ion-tabs class="tabs-bottom bottom-277">
	
	
	 <ion-tab title="" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="home.dashboard">
                 <ion-nav-view name="dashboard"></ion-nav-view>

        </ion-tab>

   <ion-tab title="" icon-off="ion-android-chat" icon-on="ion-android-chat" ui-sref="home.chats">
                 <ion-nav-view name="chats"></ion-nav-view>

        </ion-tab>


   <ion-tab title="" icon-off="ion-videocamera" icon-on="ion-videocamera" ui-sref="home.video">
                 <ion-nav-view name="video"></ion-nav-view>

        </ion-tab>



   <ion-tab title="" icon-off="ion-ios-people" icon-on="ion-ios-people" ui-sref="home.chats">
                 <ion-nav-view name="chats"></ion-nav-view>

        </ion-tab>


      <ion-tab title="" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/home/settings">
        <ion-nav-view name="settings"></ion-nav-view>
      </ion-tab>

</ion-tabs>
</div>
    
  </ion-content>
      </ion-view>